/* stylesheet */

* {
    background: rgba(37, 192, 121, 0.3);
    text-align: center;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

body>a{

    font-size: 30px;
    margin-right: 67%;
    color: rgba(59, 67, 3, 1);
    background: rgba(161, 83, 193, 0.5);
}

ul,
ol{
    padding: 20px;
}

li {
    text-align: left;x
    margin-bottom: 8px;
    filter:contrast(2)
}
