/* stylesheet */

* {
    background: rgba(223, 147, 186, 0.8);
    text-align: center;
    list-style: none;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgba(67, 8, 80, 0.8);
    padding: 8px auto;
    margin: 10px auto ;
}

ul {
    margin: 40px auto;
    font-size: 35px;
    padding: 10px;
}

li,
a {
    background:rgba(236, 192, 240, 0.8);
    margin: 16px auto;
    color: rgba(7, 2, 61, 0.8);
    font-weight: bold;
}

h1,
ul {
    background:rgba(176, 59, 223, 0.8)
}